Source: havis-jre
Maintainer: Menucha Team <info@menucha.de>
Section: libs
Priority: optional
Build-Depends: openjdk-11-jdk-headless:amd64, openjdk-11-jdk-headless:armhf, zip
Standards-Version: 4.0.0
Homepage: https://menucha-de.github.io

Package: havis-jre-8
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends},
         ${shlibs:Depends}
Pre-Depends: ${misc:Pre-Depends}
Provides: openjdk-8-jre-headless (= 8u275-b01-1~deb9u1)
Conflicts: openjdk-8-jre-headless
Description: OpenJDK Java runtime, using Hotspot JIT (headless)
 Minimal Java runtime - needed for executing non GUI Java programs, using Hotspot JIT.

Package: havis-jdk-8
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends},
         ${shlibs:Depends}
Pre-Depends: ${misc:Pre-Depends}
Provides: havis-jre-8, openjdk-8-jre-headless (= 8u275-b01-1~deb9u1)
Conflicts: havis-jre-8, openjdk-8-jre-headless
Description: OpenJDK Java runtime, using Hotspot JIT (headless)
 Minimal Java runtime - needed for executing non GUI Java programs, using Hotspot JIT.

Package: havis-jre
Architecture: any
Multi-Arch: same
Depends: mica-rpc,
         ${misc:Depends},
         ${shlibs:Depends}
Pre-Depends: ${misc:Pre-Depends}
Provides: openjdk-11-jre-headless (= 11.0.6+10-1~bpo9+1)
Conflicts: havis-jdk, openjdk-11-jre-headless
Description: OpenJDK Java runtime, using Hotspot JIT (headless)
 Minimal Java runtime - needed for executing non GUI Java programs, using Hotspot JIT.

Package: havis-jdk
Architecture: any
Multi-Arch: same
Depends: mica-rpc,
         ${misc:Depends},
         ${shlibs:Depends}
Pre-Depends: ${misc:Pre-Depends}
Provides: havis-jre, openjdk-11-jre-headless (= 11.0.6+10-1~bpo9+1)
Conflicts: havis-jre, openjdk-11-jre-headless
Description: OpenJDK Java runtime, using Hotspot JIT (headless)
 Minimal Java runtime - needed for executing non GUI Java programs, using Hotspot JIT.
